<div class="header">
  <h2 class="title">Flight Search</h2>
</div>

<form (submit)="search()">
  <div class="form-group">
    <label>From:</label>
    <input [(ngModel)]="from" class="form-control" name="from" />
  </div>
  <div class="form-group">
    <label>To:</label>
    <input [(ngModel)]="to" class="form-control" name="to" />
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-default">Search</button>
  </div>
</form>

<div class="row">
  @for (f of flights(); track f.id) {
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <app-flight-card [item]="f" [(selected)]="basket()[f.id]" />
    </div>
  }
</div>

<p>&nbsp;</p>

@if (basket()) {
  <div>
    <pre>{{ basket() | json }}</pre>
  </div>
}
