<div class="header">
  <h2 class="title">Flight Search</h2>
</div>

<form>
  <div class="form-group">
    <label>From:</label>
    <input [(ngModel)]="from" name="from" class="form-control" required />
  </div>
  <div class="form-group">
    <label>To:</label>
    <input [(ngModel)]="to" name="to" class="form-control" />
  </div>

  <div class="form-group">
    <button
      (click)="
        flightStore.searchFlights({
          from: from(),
          to: to(),
        })
      "
      class="btn btn-default"
    >
      Search
    </button>
  </div>
</form>

<div class="row">
  @for (f of flightStore.flights(); track f.id) {
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      @defer (on viewport) {
        <div>lorem ipsum</div>
      } @placeholder {
        <div>Loading...</div>
      }
    </div>
  }
</div>

<div>
  <pre>{{ flightStore.basket() | json }}</pre>
</div>
