<div class="header">
  <h2 class="title">Flight Search</h2>
</div>

<form (submit)="$event.preventDefault(); search()">
  <div class="form-group">
    <label>From:</label>
    @let from = flightSearchForm.from;
    <input
      [field]="from"
      class="form-control"
      [class.invalid]="from().invalid()"
      [class.touched]="from().touched()"
    />
    @for (error of from().errors(); track error) {
      <pre class="error">{{ error.message }}</pre>
    }
  </div>
  <div class="form-group">
    <label>To:</label>
    @let to = flightSearchForm.to;
    <input
      [field]="to"
      class="form-control"
      [class.invalid]="to().invalid()"
      [class.touched]="to().touched()"
    />
    @for (error of to().errors(); track error) {
      <pre class="error">{{ error.message }}</pre>
    }
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-default">Search</button>
  </div>
</form>

<div class="row">
  @for (f of flights(); track f.id) {
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <app-flight-card [item]="f" [(selected)]="basket()[f.id]" />
    </div>
  }
</div>

<p>&nbsp;</p>

@if (basket()) {
  <div>
    <pre>{{ basket() | json }}</pre>
  </div>
}
